@import './foundations/reset';
@import './foundations/variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

.mainbody {
  margin: rem(15) auto;
  width: 85vw;
  max-width: rem(1605);
  background-color: $color-white;
  min-height: 100vh;
}

section{
  margin: rem(135) 0;
}

div {
  font-family: $font;
  @include p1;
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

h5 {
  @include h5;
}

a:hover {
  color: $color-main;
}
